<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center mt-2 mb-3" style="background-color:aqua">Bank Search Application</h1>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4">
      <label for="city">City:</label>
      <select class="form-control" (change)="cityChange($event)" id="city">
        <option value="KOLKATA">Kolkata</option>
        <option value="BANGALORE">Bangalore</option>
        <option value="MUMBAI">Mumbai</option>
        <option value="PUNE">Pune</option>
        <option value="CHENNAI">Chennai</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="search">Search:</label>
      <input type="text" class="form-control" placeholder="Search" (keyup)="quickSearch()" 
        id="search" [(ngModel)]="searchValue" autocomplete="off">
    </div>
    <div class="col-md-4">
      <label for="page">PageSize:</label>
        <input type="number" class="form-control" placeholder="Page Size" (keyup)="pageSizeChanged()"
          id="page" [(ngModel)]="pageSize">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="(bankData != ''); else default">
        <ag-grid-angular 
        style="width: 1500px; height: 500px;" 
        class="ag-theme-balham"
        [rowData]="bankData" 
        [columnDefs]="columnDefs"
        [animateRows]="true"
        [pagination]="true"
        (cellClicked)="onClick($event)"
        [rowSelection]="rowSelection"
        [rowMultiSelectWithClick]="true"
        (gridReady)="onGridReady($event)"
        >
        </ag-grid-angular>
    </div>
    <ng-template #default>
        <h2 style="text-align: center;margin-top: 20px;">No Data Found</h2>
    </ng-template>
  </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    </div>
  </div>
</div>